<main class="main-event-statistic">
    <div class="card">
        <div class="card-body">
            <h3>Add Counter</h3>
            <p>{{statistic.addCount}}</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Delete Counter</h3>
            <p>{{statistic.deleteCount}}</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Update Counter</h3>
            <p>{{statistic.updateCount}}</p>
        </div>
    </div>

</main>