<html>
    <body>
        <table>
            <tr>
                <td>#</td>
                <td>ID</td>
                <td>Name</td>
                <td>Cost</td>
                <td>Quantity</td>
                <td>Image</td>
            </tr>
            <% for(let i=0;i<products.length;i++){ %>
                <tr>
                    <td><%= (i+1) %></td>
                    <td><%= products[i].id %></td>
                    <td><%= products[i].name %></td>
                    <td><%= products[i].cost %></td>
                    <td><%= products[i].quantity %> </td>
                    <td><img src=<%= products[i].image %> width="20%" height="15%" /> </td>
                </tr>
                <% } %>
        </table>
    </body>
</html>