<main class="main-app">
    <section class="section-cards" style="margin-bottom: 2rem">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Category</h5>
            <p class="card-text">Event category functionality including adding, deleting, displaying and updating the category. Text-to-Speech allow user to listen to the text inputed. Category Statistics show the event and category count.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a class="nav-item nav-link" routerLink="/33085625/category/add">Add Category</a></li> 
            <li class="list-group-item"><a class="nav-item nav-link" routerLink="/33085625/category/delete">Delete Category</a></li>
            <li class="list-group-item"><a class="nav-item nav-link" routerLink="/33085625/category/list">List All Categories</a></li>
            <li class="list-group-item"><a class="nav-item nav-link" routerLink="/33085625/category/update">Update Category</a></li>
            <li class="list-group-item"><a class="nav-item nav-link" routerLink="/33085625/category/textspeech">Text-to-Speech</a></li>
            <li class="list-group-item"><a class="nav-item nav-link" routerLink="/33085625/category/display/0">Category detail</a></li>
            <li class="list-group-item"><a class="nav-item nav-link" routerLink="/33085625/category/stats">Category Statistics</a></li>
          </ul>
          <div class="card-body">
            <a href="">Foo Kai Yan </a>
            <a href="">33085625</a>
          </div>
      </div>
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Event</h5>
            <p class="card-text">Event Functionality includes, adding, deleting, displaying all past events and current. below are the links to their respective pages. Additionally deleting can be done so via a query or through the webpage.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a class="nav-item nav-link" routerLink="/euan/event/add">Add Event</a></li>
            <li class="list-group-item"><a class="nav-item nav-link" routerLink="/euan/event/delete">Delete Event</a></li>
            <li class="list-group-item"><a class="nav-item nav-link" routerLink="/euan/event/update">Update Event</a></li>
            <li class="list-group-item"><a class="nav-item nav-link" routerLink="/euan/event/list">List All Events</a></li>
            <li class="list-group-item"><a class="nav-item nav-link" routerLink="/euan/event/detail/0">Event Detail</a></li>
            <li class="list-group-item"><a class="nav-item nav-link" routerLink="/euan/event/translator">Translator</a></li>
            <li class="list-group-item"><a class="nav-item nav-link" routerLink="/euan/event/statistics">Event Statistics</a></li>
          </ul>
          <div class="card-body">
            <a href="">Euan Lim </a>
            <a href="">33045984</a>
          </div>
        </div>
    </section>
  </main>
<footer class="bg-dark text-center text-white">
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Built by:
    <a class="text-white">Team Cabbage</a>
</div>
</footer>