<html>
  <head>
    <link rel="stylesheet" href="poms.css" />
  </head>
  <body>
    <h1>Welcome to POMS App (Week 5)</h1>
    <a href="/">Home</a>
    <a href="/addparcel">Add New Parcel</a>
    <a href="/getparcels">List Parcels</a>
    <a href="/delparcel">Delete Parcel</a>
    <a href="/udpateparcel">Update Parcel</a>
    <hr />
    <form action="deleteparcel" method="post">
      ID:<input type="text" name="id" />
      <button type="submit">Delete Parcel</button>
    </form>
  </body>
</html>
