<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="index.css">
    <link rel="icon" href="cabbage_logo.jpg" type="image/png">
    <link href="bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header style="max-width: 100%; display: flex; justify-content: center; align-items: center; margin-bottom: -2rem;">
        <img src="<%= banner %>" style="max-width: 100%; max-height: 8rem;">
    </header>
    <div class="container" style="width: 70%;">
        <h1>Delete Category</h1>
        <h5><div class="sub-header">Provide category ID & click delete</div></h5>
        <form id="categoryForm" class="needs-validation" novalidate action="/33085625/category/delete" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="id" placeholder="Enter category ID" required>
                <div class="invalid-feedback">
                    Please provide a valid category ID.
                </div>
            </div>
            <form action="list_category.html">
                <button type="submit" style="margin-top: 1rem;" class="btn btn-primary">Delete Category</button>
            </form>
        </form>
    </div>
</body>
</html>