<main class="d-flex justify-content-center mt-4">
    <div class="card">
        <div class="card-body">
            <button (click)="onClick()">Load Category</button>
            <div class="row row-cols-1 g-3">
                <div class="col">                
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Image</th>
                                <th scope="col">Created Date</th>
                                <th scope="col">Actions</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of categoryDB">
                                <th scope="row">{{ category.id }}</th>
                                <td>{{ category.name | uppercase }}</td>
                                <td>{{ category.description }}</td>
                                <td><img  src="../assets/images/{{category.image}}" style="max-height: 6rem;"></td>
                                <td>{{ category.createdAt | datePipe }}</td>
                                <td><a routerLink="/33085625/category/display/{{category.id}}" class="btn btn-primary">View Category</a></td>
                                <td>
                                    <button class="btn btn-primary" style="background-color: red; color: white;" (click)="onDelete(category.id)">Delete Category</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>